/SingletonDP.class
/CheckObjectCreation.class
/EagerInitialisation.class
/LazyInitialisation.class
/ThreadMethodInitialisation.class
/ThreadBlockMethodInitialisation.class
/FactoryDP.class
/Employee.class
/Teachers.class
/Workers.class
/EmployeeFactory.class
